USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 10/29/2020 7:28:07 AM ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[CHUONGTRINH]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUONGTRINH](
	[MA_CHUONGTRINH] [varchar](10) NOT NULL,
	[TENCHUONGTRINH] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHUONGTRINH] PRIMARY KEY CLUSTERED 
(
	[MA_CHUONGTRINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGKHOA]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGKHOA](
	[MA_CHUONGTRINH] [varchar](10) NOT NULL,
	[MA_KHOA] [varchar](10) NOT NULL,
	[MA_MONHOC] [varchar](10) NOT NULL,
	[NAMHOC] [int] NULL,
	[HOCKY] [int] NULL,
	[SOTIETLYTHUYET] [int] NULL,
	[SOTIETTHUCHANH] [int] NULL,
	[SOTINCHI] [int] NULL,
 CONSTRAINT [PK_GIANGKHOA] PRIMARY KEY CLUSTERED 
(
	[MA_CHUONGTRINH] ASC,
	[MA_KHOA] ASC,
	[MA_MONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MA_SINHVIEN] [varchar](10) NOT NULL,
	[MA_MONHOC] [varchar](10) NOT NULL,
	[LANTHI] [int] NOT NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[MA_SINHVIEN] ASC,
	[MA_MONHOC] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MA_KHOA] [varchar](10) NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
	[NAMTHANLAP] [int] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MA_KHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MA_KHOAHOC] [varchar](10) NOT NULL,
	[NAMBATDAU] [int] NULL,
	[NAMKETTHUC] [int] NULL,
 CONSTRAINT [PK_KHOAHOC] PRIMARY KEY CLUSTERED 
(
	[MA_KHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MA_LOP] [varchar](10) NOT NULL,
	[MA_KHOAHOC] [varchar](10) NOT NULL,
	[MA_KHOA] [varchar](10) NOT NULL,
	[MA_CHUONGTRINH] [varchar](10) NOT NULL,
	[SOTHUTU] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MA_MONHOC] [varchar](10) NOT NULL,
	[TENMONHOC] [nvarchar](100) NULL,
	[MA_KHOA] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MA_MONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/29/2020 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MA_SINHVIEN] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[DANTOC] [nvarchar](20) NULL,
	[MALOP] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MA_SINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GIANGKHOA]  WITH CHECK ADD  CONSTRAINT [FK_GK_CT] FOREIGN KEY([MA_CHUONGTRINH])
REFERENCES [dbo].[CHUONGTRINH] ([MA_CHUONGTRINH])
GO
ALTER TABLE [dbo].[GIANGKHOA] CHECK CONSTRAINT [FK_GK_CT]
GO
ALTER TABLE [dbo].[GIANGKHOA]  WITH CHECK ADD  CONSTRAINT [FK_GK_K] FOREIGN KEY([MA_KHOA])
REFERENCES [dbo].[KHOA] ([MA_KHOA])
GO
ALTER TABLE [dbo].[GIANGKHOA] CHECK CONSTRAINT [FK_GK_K]
GO
ALTER TABLE [dbo].[GIANGKHOA]  WITH CHECK ADD  CONSTRAINT [FK_GK_MH] FOREIGN KEY([MA_MONHOC])
REFERENCES [dbo].[MONHOC] ([MA_MONHOC])
GO
ALTER TABLE [dbo].[GIANGKHOA] CHECK CONSTRAINT [FK_GK_MH]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQ_MH] FOREIGN KEY([MA_MONHOC])
REFERENCES [dbo].[MONHOC] ([MA_MONHOC])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KQ_MH]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQ_SV] FOREIGN KEY([MA_SINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([MA_SINHVIEN])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KQ_SV]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_CT] FOREIGN KEY([MA_CHUONGTRINH])
REFERENCES [dbo].[CHUONGTRINH] ([MA_CHUONGTRINH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_CT]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_K] FOREIGN KEY([MA_KHOA])
REFERENCES [dbo].[KHOA] ([MA_KHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_K]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KH] FOREIGN KEY([MA_KHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MA_KHOAHOC])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SV_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SV_LOP]
GO
USE [master]
GO

USE [QuanLySinhVien]
--INSERT TABLE KHOA
INSERT INTO KHOA VALUES('CNTT','CONG NGHE THONG TIN',1995)
INSERT INTO KHOA VALUES('VL','VAT LY',1970)
-- INSERT TABLE KHOAHOC
INSERT INTO KHOAHOC VALUES('K2002',2002,2006)
INSERT INTO KHOAHOC VALUES('K2003',2003,2007)
INSERT INTO KHOAHOC VALUES('K2004',2004,2008)
--INSERT TABLE CHUONGTRINH
INSERT INTO CHUONGTRINH VALUES('CQ','CHINHQUI')
--INSERT TABLE MONHOC
INSERT INTO MONHOC VALUES('THT01','TOAN CAO CAP A1','CNTT')
INSERT INTO MONHOC VALUES('VLT01','TOAN CAO CAP A1','VL')
INSERT INTO MONHOC VALUES('THT02','TOAN ROI RAC','CNTT')
--INSERT TABLE GIANGKHOA
INSERT INTO GIANGKHOA VALUES('CQ','CNTT','THT01',2003,1,60,0,5)
INSERT INTO GIANGKHOA VALUES('CQ','CNTT','THT02',2003,2,45,0,4)
INSERT INTO GIANGKHOA VALUES('CQ','CNTT','THCS01',2004,1,45,30,4)
--INSERT TABLE LOP
INSERT INTO LOP VALUES('TH2002/01','K2002','CNTT','CQ',1)
INSERT INTO LOP VALUES('TH2002/02','K2002','CNTT','CQ',2)
INSERT INTO LOP VALUES('VL2003/01','K2003','VL','CQ',1)
--INSERT TABLE SINHVIEN
INSERT INTO SINHVIEN VALUES('0212001','NGUYEN VINH AN','1984-12-05','KINH','TH2002/01')
INSERT INTO SINHVIEN VALUES('0212002','NGUYEN THANH BINH','1985-07-09','KINH','TH2002/01')
INSERT INTO SINHVIEN VALUES('0212003','NGUYEN THANH CUONG','1984-02-14','KINH','TH2002/02')
--INSERT TABLE KETQUA
INSERT INTO KETQUA VALUES('0212001','THT01',1,4)
INSERT INTO KETQUA VALUES('0212001','THT01',2,7)
INSERT INTO KETQUA VALUES('0212002','THT01',1,8)
